.contenedor {
  padding: 40px;
  background: linear-gradient(to bottom, #f8fafc, #e2e8f0);
  min-height: 100vh;
  font-family: 'Segoe UI';
}

.busqueda input {
  padding: 10px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* AUTOCOMPLETE */
.autocomplete {
  background: white;
  border: 1px solid #ccc;
  width: 300px;
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.autocomplete li {
  padding: 8px;
  cursor: pointer;
}

.autocomplete li:hover {
  background: #e2e8f0;
}

.tabla {
  margin-top: 30px;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  background: white;
}

th {
  background: #1e3a8a;
  color: white;
  padding: 10px;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

input {
  width: 100%;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background: #f97316;
  color: white;
  border: none;
  border-radius: 5px;
}

.subtotal {
  font-weight: bold;
  margin-top: 10px;
}

.total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #1e3a8a;
}