<div class="obra-gris">
  <h2>Obra Gris</h2>

  <div class="filtro">
    <label>Filtrar categoría:</label>
    <select [(ngModel)]="categoriaSeleccionada" (change)="filtrarPorCategoria()">
      <option value="">Todas</option>
      <option *ngFor="let c of categorias" [value]="c">
        {{ c }}
      </option>
    </select>
  </div>

  <hr>

  <div *ngIf="categoriaSeleccionada === ''">

    <div *ngFor="let cat of categorias">
      <h3 class="categoria-title">{{ cat }}</h3>
      <ul class="categoria">
        <li *ngFor="let r of obtenerPorCategoria(cat)">
          <strong>{{ r.codigo }}</strong> - {{ r.descripcion }}
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="categoriaSeleccionada !== ''">
    <ul class="categoria">
      <li *ngFor="let r of rubros">
        <strong>{{ r.codigo }}</strong> - {{ r.descripcion }}
      </li>
    </ul>
  </div>
</div>