.container {
  min-height: 100vh;
  width: 100%;
  padding: 60px 20px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;   /* centra horizontal */
  justify-content: flex-start;

  background: linear-gradient(
      rgba(0,0,0,0.75),
      rgba(0,0,0,0.75)
    ),
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDHp9UkU_HxEtSDtk-ixxiNdG1tUT-xslOSg&s')
    no-repeat center center/cover;
}

/* ================= FORMULARIO ================= */

.form-section {
  width: 90%;
  max-width: 1200px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 25px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  margin-bottom: 70px;
}

.form-title {
  text-align: center;
  margin-bottom: 45px;
  font-size: 28px;
  font-weight: 500;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title-icon {
  font-size: 25px;
  color: black;
}

.material-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

mat-form-field {
  width: 100%;
}

button {
  grid-column: 1 / -1;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  margin-top: 15px;
  letter-spacing: 1px;
  color: green;
}


/* ================= FILTROS ================= */
.filtro-campo {
  width: 90%;
}

::ng-deep .filtro-campo input{
  color: white !important;
}

::ng-deep .filtro-campo input::placeholder{
  color: rgba(255,255,255,0.7);
}

::ng-deep .filtro-campo .mdc-floating-label{
  color: white !important;
}

::ng-deep .filtro-campo .mat-mdc-select-value{
  color: white !important;
}

::ng-deep .filtro-campo .mdc-text-field__input{
  color: white;
}

::ng-deep .filtro-campo .mdc-floating-label{
  color: white;
}

::ng-deep .filtro-campo .mdc-notched-outline__leading,
::ng-deep .filtro-campo .mdc-notched-outline__notch,
::ng-deep .filtro-campo .mdc-notched-outline__trailing{
  border-color: white;
}

::ng-deep .filtro-campo.mat-focused .mdc-notched-outline__leading,
::ng-deep .filtro-campo.mat-focused .mdc-notched-outline__notch,
::ng-deep .filtro-campo.mat-focused .mdc-notched-outline__trailing{
  border-color: white;
}

::ng-deep .filtro-campo mat-icon{
  color: white;
}

::ng-deep .filtro-campo input::placeholder{
  color: rgba(255,255,255,0.7);
}



/* ================= TABLA ================= */

.tabla-section{
  width: 100%;
  padding: 40px;
  background: rgba(255,255,255,0.97);
  border-radius: 25px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.35);
  backdrop-filter: blur(8px);
}

table{
  width:100%;
  border-radius:10px;
  overflow:hidden;
}

th{
  background:#111;
  color:blackrgb(252, 227, 227)
}

td{
  font-size:14px;
}

tr:hover{
  background:#f2f4f8;
}


.acciones{
  display:flex;
  gap:10px;
}

.acciones button{
  width:40px;
  height:40px;
  border-radius:50%;
}


mat-paginator{
  margin-top:25px;
}

.stock-bajo{
  color:#e53935;
  font-weight:600;
}

.stock-ok{
  color:#2e7d32;
  font-weight:600;
}