<div class="container">

  <div class="header-section">
    <h1 class="titulo">MODULO INVENTARIO</h1>
    <p class="subtitulo">
      Control integral de recursos de construcción
    </p>
  </div>

  <!-- LOADING -->
  <div *ngIf="cargando" class="loading">
    <p>Cargando datos...</p>
  </div>

  <!-- CONTENIDO -->
  <div class="cards" *ngIf="!cargando">

    <!-- MATERIALES -->
    <div class="card materiales" (click)="abrirCategoriaMateriales()">
      <div class="top">
        <div class="icon-box">
          <mat-icon>inventory</mat-icon>
        </div>
        <div class="contador">
          {{ totalMateriales }}
          <span>registros</span>
        </div>
      </div>
      <h2>Materiales</h2>
      <p>Gestión de insumos de obra.</p>
      <div class="footer">
        <span>Ver módulo</span>
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>

    <!-- MANO DE OBRA -->
    <div class="card manobra" (click)="abrirCategoriaManObra()">
      <div class="top">
        <div class="icon-box">
          <mat-icon>groups</mat-icon>
        </div>
        <div class="contador">
          {{ totalTrabajadores }}
          <span>personas</span>
        </div>
      </div>
      <h2>Mano de Obra</h2>
      <p>Gestión de personal.</p>
      <div class="footer">
        <span>Ver módulo</span>
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>

    <!-- EQUIPOS -->
    <div class="card equipos" (click)="abrirCategoriaEquipos()">
      <div class="top">
        <div class="icon-box">
          <mat-icon>precision_manufacturing</mat-icon>
        </div>
        <div class="contador">
          {{ totalEquipos }}
          <span>equipos</span>
        </div>
      </div>
      <h2>Equipos</h2>
      <p>Control de maquinaria.</p>
      <div class="footer">
        <span>Ver módulo</span>
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>

  </div>

</div>