.container {
  min-height: 100vh;
  padding: 60px 20px;
  background: linear-gradient(to bottom, #f1f5f9, #e2e8f0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-section {
  text-align: center;
  margin-bottom: 50px;
}

.titulo {
  font-size: 34px;
  color: black;
}

.subtitulo {
  color: black;
  margin-top: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: white;
  border-radius: 18px;
  padding: 25px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.35s ease;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.15);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.4),
    transparent
  );
  transition: 0.6s;
}

.card:hover::after {
  left: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-box {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box mat-icon {
  color: white;
  font-size: 20px;
}

.contador {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
}

.contador span {
  display: block;
  font-size: 12px;
  color: #64748b;
}

.card h2 {
  margin-top: 20px;
  font-size: 20px;
  color: #0f172a;
}

.card p {
  margin-top: 10px;
  color: #64748b;
  font-size: 14px;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.materiales::before { background: #1d4ed8; }
.materiales .icon-box { background: #1d4ed8; }

.manobra::before { background: #059669; }
.manobra .icon-box { background: #059669; }

.equipos::before { background: #ea580c; }
.equipos .icon-box { background: #ea580c; }

