.container {
  height: 90vh;
  display: flex;
  flex-direction: column; /* Para separar título y cards */
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(
      rgba(0, 0, 0, 0.800),
      rgba(0, 0, 0, 0.800)
    ),
    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDHp9UkU_HxEtSDtk-ixxiNdG1tUT-xslOSg&s') no-repeat center center/cover;
  font-family: 'Roboto', sans-serif;
}

.titulo {
  font-size: 40px;
  color: white;
  margin-bottom: 40px; 
  font-weight: 500;
  letter-spacing: 1px;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 280px;
  padding: 30px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.card mat-icon {
  font-size: 20px;
  margin-bottom: 15px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

/* Colores personalizados */
.inventario {
  background: white;
  color: #1565c0;
}

.calculo {
  background: white;
  color:green;
}

.presupuesto {
  background: white;
  color:chocolate;
}

h2{
  color: black;
  font-size: 18px;
}


